
<nav class="navbar sticky-top navbar-dark bg-dark justify-content-center">
  <a class="navbar-brand" href="#">
    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d5/Eo_circle_red_letter-u.svg" width="30" height="30"
      class="d-inline-block align-top" alt="">
    Url Shortener
  </a>
</nav>


<div class="container-fluid url-entry" style="padding-top: 5%;padding-bottom: 5%;">
  <app-url-entry></app-url-entry>
</div>


<div class="container-fluid" style="padding-top:5%;padding-bottom: 2%;">
  <app-shorturl-list></app-shorturl-list>
</div>


<footer class="container-fluid text-center">
  <p>Url Shortener Assignment | &copy; 2021</p>
</footer>